{deps, [
    {cuttlefish, {git, "https://github.com/emqx/cuttlefish.git",  {branch, "main"}}},
    {ekaf, {git, "https://github.com/helpshift/ekaf.git",  {branch, "master"}}},
    {emqx, {git_subdir, "https://github.com/ULTRAKID/emqx", {tag, "v4.3.12-with-kafka"}, "apps/emqx"}}
]}.

{erl_opts, [debug_info]}.
