{deps, [
    {cuttlefish, {git, "https://github.com/emqx/cuttlefish.git",  {branch, "main"}}},
    {brod, {git, "https://github.com/kafka4beam/brod.git",  {tag, "3.16.3"}}},
    {emqx, {git_subdir, "https://github.com/ULTRAKID/emqx", {tag, "v4.3.12-with-kafka"}, "apps/emqx"}}
]}.

{erl_opts, [debug_info]}.
