[
    {emqx_plugin_kafka, [
        {kafka_address_list, [{"localhost", 9092}]},    %% kafka地址，可配置多个
        {kafka_config, [                                %% 这部分是https://github.com/kafka4beam/brod库需要的配置
            {reconnect_cool_down_seconds, 10},          %% socket error recovery
            {query_api_versions, true}                  %% Kafka 0.9.x or Earlier请设置为false
        ]},
        {topic, "emqx-topic"}                           %% 转发的目标topic
    ]}
].
